.git
.gitignore
.turbo
**/.data
**/.env
**/.env.*
!**/.env.example
**/.next
**/.turbo
**/dist
**/node_modules
coverage
npm-debug.log*
pnpm-debug.log*

infra/trueforge/**
!infra/trueforge/scripts/
!infra/trueforge/scripts/bootstrap-clipforge.mjs
